/* noinspection CssInvalidAtRule */
@import-normalize;
/* noinspection CssInvalidImport */
@import "~@blueprintjs/core/lib/css/blueprint.css";
/* noinspection CssInvalidImport */
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
/* noinspection CssInvalidImport */
@import "~@blueprintjs/popover2/lib/css/blueprint-popover2.css";

.bp4-navbar-group .bp4-tab {
    line-height: 50px;
}

.bp4-card[aria-disabled="true"] {
    cursor: not-allowed;
}

body {
    margin: 0;
}

body.bp4-dark {
    background-color: #394b59;
}

.container {
    max-width: 768px;
    margin: 0 auto;
}
