/* noinspection CssInvalidAtRule */
@import-normalize;
/* noinspection CssInvalidImport */
@import "~@blueprintjs/core/lib/css/blueprint.css";
/* noinspection CssInvalidImport */
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

.bp5-navbar-group .bp5-tab {
    line-height: 50px;
}

.bp5-card[aria-disabled="true"] {
    cursor: not-allowed;
}

body {
    margin: 0;
}

body.bp5-dark {
    background-color: #394b59;
}

.container {
    max-width: 768px;
    margin: 0 auto;
}

.flex-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.footer {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    padding: 0 20px;
}

.footer > :last-child {
    margin-bottom: 0;
}

@media (min-width: 600px) {
    .footer {
        flex-direction: row;
    }
}
