.panel-card {
    position: relative;
}

.panel-card-label {
    position: absolute;
    width: fit-content;
    padding: 2px 10px;
    background-color: white;
    top: -11px;
}

.panel-card-label-align-left {
    left: 10px;
}

.panel-card-label-align-center {
    left: 50%;
    transform: translateX(-50%);
}

.panel-card-label-align-right {
    right: 10px;
}

.bp5-dark .panel-card-label {
    background-color: #394b59;
}