.react-flow__handle {
    position: absolute;
    width: 9px;
    height: 9px;
    background: #fff;
    border: 1px solid #555;
    border-radius: 3px;
}

.react-flow__handle-valid {
    border-width: 2px;
}

.react-flow__handle-bottom {
    bottom: -5px;
}

.react-flow__handle-top {
    top: -5px;
}

.react-flow__handle-left {
    left: -5px;
}

.react-flow__handle-right {
    right: -5px;
}

.react-flow__node-start, .react-flow__node-module {
    background: #fff;
    border-color: #1a192b;
}

.react-flow__node-start {
    padding: 10px;
    border-radius: 100px;
    font-size: 12px;
    color: #222;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    min-width: 100px;
}

.react-flow__node-module {
    border-radius: 3px;
    font-size: 12px;
    color: #222;
    border-width: 1px;
    border-style: solid;
    min-width: 180px;
}

.react-flow__node-module.selected, .react-flow__node-module.selected:hover {
    box-shadow: 0 0 0 0.5px #1a192b;
}

.react-flow__node-module__row {
    position: relative;
    padding: 3px 6px;
}

.react-flow__node-module__row.nodrag {
    cursor: initial;
}

.react-flow__node-module__row + .react-flow__node-module__row {
    border-top: 1px solid #555;
}

.react-flow__node-module__header {
    text-align: center;
    padding: 10px;
}

.react-flow__node-module__header .react-flow__node-module__header__remove {
    visibility: hidden;
}

.react-flow__node-module__header:hover .react-flow__node-module__header__remove {
    visibility: visible;
}

.react-flow__node-module__header__remove {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    cursor: pointer;
    background: white;
    border: 1px solid #555;
    border-radius: 100%;
}

.react-flow__node-module__header__remove:hover {
    color: #555;
}

.react-flow__node-module__child {
    display: flex;
}

.react-flow__node-module__child__label {
    flex-basis: 100%;
    padding: 0 3px;
}

.react-flow__node-module__child__label > div.bp4-popover2-target {
    display: inline-block;
}

.react-flow__node-module__child .react-flow__node-module__child__icon {
    visibility: hidden;
}

.react-flow__node-module__child:hover .react-flow__node-module__child__icon {
    visibility: visible;
}

.react-flow__node-module__child__icon:hover {
    color: #555;
}

.react-flow__node-module__child__icon.bp4-icon-drag-handle-vertical {
    cursor: grab;
}

.react-flow__node-module__child__icon.bp4-icon-small-cross {
    cursor: pointer;
}

.text-dropdown {
    /* text-decoration: underline dotted; */
    cursor: pointer;
    padding: 0 0.25em;
    margin: 0 0.25em;
    border-bottom: 1px dotted;
}

.bp4-popover2.editor-slider-popover .bp4-popover2-content {
    min-width: 180px;
    max-width: 350px;
    padding: 10px;
}

.add-ingredient-menu .bp4-menu {
    min-width: initial;
}
